@page "/Posts"
@using Entities.Models
@using Entities.Interfaces

@inject IPostDAO PostDao
@inject NavigationManager NavMgr

<h3>Posts</h3>

<AuthorizeView>
    
    <Authorized>
        <button @onclick="CreatePost">Create Post</button>
    </Authorized>

    <NotAuthorized>
        <div>
            <p>Log-in first, to create a Post!</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


 @if (allPosts == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        
 else if (!allPosts.Any())
        {
            <p>
                <em>No posts items exist. Please add some.</em>
            </p>
        }

 else if (!postsToShow.Any())
        {
            <p>
                <em>No posts matching your search criteria</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Post-ID</th>
                    <th>Author</th>
                    <th>Header</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in postsToShow)
                {
                    <tr @onclick="@(() => ShowPost(item.Id))">
                        <td>@item.Id</td>
                        <td>@item.Author</td>
                        <td>@item.Header</td>
                    </tr>
                }
                </tbody>
            </table>
        }

        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color: red">@errorLabel</label>
        }





@code {
    private ICollection<Post> allPosts, postsToShow;
    private string errorLabel;
    
    protected override async Task OnInitializedAsync()
    {
        allPosts = await PostDao.GetAsync();
        postsToShow = allPosts;
    }

    public void CreatePost()
    {
        NavMgr.NavigateTo("/CreatePost");
    }

    private void RemovePost(int itemId)
    {
        Console.WriteLine($"Post-id to remove {itemId}");
    }

    private void EditPost(int itemId)
    {
        Console.WriteLine($"Post-id to edit {itemId}");
    }


    private void ShowPost(int itemId)
    {
        NavMgr.NavigateTo($"/ShowPost/{itemId}");
    }

}