@page "/Posts"
@using Entities.Models
@using Contracts.Services

@inject IPostService _postService
@inject NavigationManager _navMgr


<PageTitle>Posts</PageTitle>

<h3>Posts</h3>

<AuthorizeView>
    
    <Authorized>
        <button @onclick="CreatePost">Create Post</button>
    </Authorized>

    <NotAuthorized>
        <div>
            <p>Log-in first, to create a Post!</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


 @if (_allPosts == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        
 else if (!_allPosts.Any())
        {
            <p>
                <em>No posts items exist. Please add some.</em>
            </p>
        }

 else if (!_postsToShow.Any())
        {
            <p>
                <em>No posts matching your search criteria</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Post-ID</th>
                    <th>Author</th>
                    <th>Header</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _postsToShow)
                {
                    <tr @onclick="@(() => ShowPost(item.Id))">
                        <td>@item.Id</td>
                        <td>@item.Author.UserName</td>
                        <td>@item.Header</td>
                    </tr>
                }
                </tbody>
            </table>
        }

        @if (!string.IsNullOrEmpty(_errorLabel))
        {
            <label style="color: red">@_errorLabel</label>
        }





@code {
    private ICollection<Post> _allPosts, _postsToShow;
    private string _errorLabel;
    
    protected override async Task OnInitializedAsync()
    {
        _allPosts = await _postService.GetAsync();
        _postsToShow = _allPosts;
    }

    public void CreatePost()
    {
        _navMgr.NavigateTo("/CreatePost");
    }

    private void RemovePost(int itemId)
    {
        Console.WriteLine($"Post-id to remove {itemId}");
    }

    private void EditPost(int itemId)
    {
        Console.WriteLine($"Post-id to edit {itemId}");
    }


    private void ShowPost(int itemId)
    {
        _navMgr.NavigateTo($"/ShowPost/{itemId}");
    }

}